.Navbar {
	@apply w-screen flex font-medium text-xl fixed;
	min-height: 7rem;

	&.lightTheme {
		background: linear-gradient(
			90deg,
			rgba(224, 224, 224, 1) 0%,
			rgba(255, 255, 255, 1) 50%,
			rgba(224, 224, 224, 1) 100%
		);
	}

	&.darkTheme {
		background: linear-gradient(
			90deg,
			rgb(0, 0, 0) 0%,
			rgb(39, 39, 39) 50%,
			rgb(0, 0, 0) 100%
		);
	}

	.Navbar___logo {
		@apply flex flex-col self-center mx-4;
		width: 10rem;
	}

	.Navbar___menu {
		@apply flex self-center mx-4;
	}

	.Navbar___buttons {
		@apply flex self-center mx-4 items-center;
	}
}

.Navlink {
	@apply text-lg;
}

.Navbutton {
	@apply rounded-full border-0;
}

.main_Navbutton {
	@extend .Navbutton;
	@apply py-4 px-5 transition duration-200 hover:bg-secondary-light active:bg-secondary;
}
