// breakpoints
$phone: 600px;
$tablet: 768px;
$desktop: 1350px;

.SideMenu {
	@apply z-20 fixed flex-col justify-center items-center bg-secondary text-white;

	.CloseButton {
		@apply absolute top-4 right-2 bg-transparent text-info-light text-3xl p-4;
	}

	.Navlink {
		@apply text-xl my-4;
		@media screen and (min-width: $tablet) and (orientation: portrait) {
			@apply text-4xl my-10;
		}
	}
}
